* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: noto-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
  }
  
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  /* h1 to h6 */
  
  h2 {
    font: $titulos;
    text-align: center;
  }

    h3 {
    font: $subtitulos;
    color: $aqua;
  }
  
  h4 {
    font-weight: 800;
    font-size: 2em;
    color: $blanco;
  }
  
  h5 {
    font-family: noto-sans-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $gris;
  }
  
  h6 {
    font-weight: 800;
    font-size: 1.5em;
    color: $gris;
  }
  
  p {
    color: $gris;
  }
  
  /* colors for the page */
  
  .violeta {
    color: $violeta;
  }
  
  .blanco {
    color: $blanco;
  }
  
  .aqua {
    background-color: $aqua;
  }

  // Botones
  .boton {
    display: flex;
    justify-content: center;
  }
  
  .conocenos {
    border-radius: 40px;
    background-color: $aqua;
    border: none;
    padding: 16px 40px;
    margin-top: 10%;
    transition: all 0.3s;
    display: inline-block;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $aqua;
      border-radius: 10rem;
      z-index: -2;
    }
  
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $violeta;
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }
  
    &:hover {
      color: $blanco;
  
      &:before {
        width: 100%;
      }
    }
  
    a, p {
      color: $blanco;
      font-size: 1.2em;
      text-decoration: none;
    }
  }

  /* social media icon */

.socialmedia {
  padding-left: 50px;
  padding-top: 40vh;
}

.circle {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: $aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.round {
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.fa-envelope, .fab {
  color: $blanco;
  font-size: 1.3rem;
  text-align: center;
}

/* playlist */

section.playlist {
  padding-top: 6%;
  padding-bottom: 10%;
}

.tittleViolet {
  color:$violeta;
  padding-top: 5%;
  padding-bottom: 5%;
}

.conteiner1 {
  overflow: hidden;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
}

.video {
  float: left;
  width: 50%;
}

.fa-play {
  color: $blanco;
  font-size: 1em;
  padding-right: 5px;
}

.list {
  ul li {
    text-decoration: none;
    color:$blanco;
    list-style-type: none;
    line-height: 2rem;
    margin-top: 10px;
  }

  float: left;
  width: 50%;
  padding-bottom: 17px;
}

h4.tittle {
  padding-top: 20px;
  padding-left: 40px;
}
/* integrantes de la banda */

.integrantesDeLaBanda {
  background-image: url('../images/fondoIntegrantes@2x.png');
  background-size: cover;
  padding-bottom: 10%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.conteiner2 {
  width: 50%;
}

.integrante {
  width: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.titulo {
  margin-right: 5%;
}

hr {
  margin-top: 3%;
  border: 2px solid $gris;
}

/* integrantes todas */

aside {
  width: 50%;
}

.todas {
  display: flex;
  justify-content: space-evenly;
}

.integrantes {
  width: 100%;

  img {
    width: 100%;
  }
}
/* -------------- LA BANDA --------------- */

.banda {
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4%;
  row-gap: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: linear-gradient($aqua, #027562);
  background-size: cover;
  background-repeat: no-repeat;
}

.socialmediaBand {
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center;
}

.espacio {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.celda {
  -webkit-box-shadow: 0px 3px 6px 6px rgba(48, 48, 48, 0.17);
  -moz-box-shadow: 0px 3px 6px 6px rgba(48, 48, 48, 0.17);
  box-shadow: 0px 3px 6px 6px rgba(48, 48, 48, 0.17);
  background-color: $blanco;
}

.imagenPersonal {
  position: relative;
  width: 100%;
}

.instrumento {
  position: absolute;
  top: 10px;
  right: 10px;
}

.box {
  object-fit: cover;
  width: 100%;
}

.rol {
  h6 {
    font-size: 1.9em;
    font-family: cheap-pine-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $violeta;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  p {
    color: $gris;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 3%;
    font-family: noto-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  padding: 7%;
  background-color: $blanco;
}

/* Sobre Nosotras */

.sobreNosotras {
  padding-top: 5%;
  padding-bottom: 10%;
}

.container5 {
  padding-left: 10%;
  padding-right: 10%;
}

.grande {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.textoNosotras {
  width: 45%;
}

.imagenNosotras {
  width: 45%;

  img {
    width: 100%;
    object-fit: cover;
  }
}

/* -------------Eventos------------- */

.Padre {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoGrande {
  width: 78%;
  height: 74vh;
}