// Paleta de colores

  $violeta: #643b8d;
  $aqua: #00be9e;
  $blanco: #FFFFFF;
  $gris: #3d3d3d;

  
  
  //Tipografía -- Probar si funciona o no

  $titulos: normal 400 6em 'cheap-pine',sans-serif;
  $subtitulos: normal 700 2.5em 'noto-sans',sans-serif;


